/* 
.login-form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-pack: center;
    -ms-flex-align: center;
    justify-content: center;
    padding: 2rem;
  }
  .login-form.active {
    display: box;
    display: flexbox;
    display: flex;
  }
  .login-form form {
    width: 50rem;
    padding: 4rem;
    background: #fff;
    text-align: center;
    position: relative;
    animation: fadeIn 0.2s linear;
    animation: fadeIn 0.2s linear;
  }
  .login-form form #close-login-form {
    position: absolute;
    top: -4rem;
    right: 0;
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
  }
  .login-form form #close-login-form:hover {
    transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .login-form form .logo {
    font-size: 2.5rem;
    color: #512a10;
    font-weight: bolder;
  }
  .login-form form h3 {
    padding: 1rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    color: #222;
    margin-top: 1rem;
  }
  .login-form form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid #512a10;
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .login-form form .flex {
    display: box;
    display: flexbox;
    display: flex;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
  }
  .login-form form .flex label {
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0;
    cursor: pointer;
  }
  .login-form form .flex a {
    font-size: 1.5rem;
    color: #512a10;
    margin-left: auto;
  }
  .login-form form .flex a:hover {
    text-decoration: underline !important;
  }
  .login-form form .link-btn {
    width: 100%;
    margin-bottom: 2rem;
  }
  .login-form form .account {
    padding: 1.5rem 0.5rem;
    background: #eee;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0;
  }
  .login-form form .account a {
    color: #512a10;
  }
  .login-form form .account a:hover {
    text-decoration: underline !important;
  }
   */


  .form-container{
    background-color: red;
    padding: 10px;
  }

  .form-container label{
    font-size: 18px;
  }
  .form-container input{
    width: 100%;
    /* height: 60px; */
    padding: 5px;
    margin-bottom: 10px;
  }