.menu {
    background: #eee;
    height: auto;
  }
  .menu .box-container {
    display: grid;
    display: grid;
    -ms-grid-columns: minmax(30rem, 1fr) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  .menu .box-container .box {
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
  }
  .menu .box-container .box:hover {
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
  .menu .box-container .box img {
    height: 15rem;
    margin-bottom: 2rem;
  }
  .menu .box-container .box h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #222;
  }
  .menu .box-container .box p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0;
  }